.app {
  height: 100vh;
  display: flex;
}

.app-body {
  width: 100%;
  flex: auto;
}

.chat-timestamp {
  font-size: 0.8em;
  color: #666;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #666;
}
