.chat {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 14rem;
}

.message {
  margin-bottom: 1rem;
  max-width: 50%;

  span {
    display: inline-block;
  }

  &.user {
    margin-left: auto;

    span {
      background-color: #eee;
      padding: 1rem;
      border-radius: 1rem;
    }
  }

  &.assistant {
    font-family: menlo;
  }
}

.input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;

  textarea {
    min-height: 10rem;
    width: 100%;
  }
}

.recording-button {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}

.submit-button {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  background-color: green;
  color: #fff;

  &:hover {
    background-color: green;
  }

  &:disabled {
    cursor: not-allowed;
    color: #999;
    background-color: #eee;
  }
}

.api-selector {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;

  select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
}
